<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Agitmemnon</title>
  <script type="text/javascript" src="/js/jquery-1.2.6.pack.js"></script>

  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/print.css" type="text/css" media="print">
  <!--[if IE]>
    <link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8"/>
</head>

<body>
  <div class="container">

    <%= yield %>

  </div>
</body>
</html>