body {
    font: 1.0em Verdana, Arial, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
}
strong { font-weight: bold; }

#doc { width: 750px; }
#bd { background-color: #fff; }

#project {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 10px;
    }

#clone-url { font: 1em Andale Mono, monospace; margin-top: 8px; }
#clone-url .url { background-color: #fda; padding: 3px; }

#sha { text-align: right; font: 1.2em Andale Mono, monospace; }

#hd { background-color: #eee; border-bottom: 1px solid #999; padding: 8px;}
#hd h1 { font-size: 2em; font-weight: bold; }
#hd h1 #github { color: #35a;}
#hd ul li { display: inline; }

.source li#source a { color: #000 !important; font-weight:bold; }
.log li#log a { color: #000 !important; font-weight:bold; }
.refs li#refs a { color: #000 !important; font-weight:bold; }

#hd #menu { text-align: right; margin-top: 10px; }
#hd #menu ul li { padding-left: 10px; }
#hd #menu ul li a { color:#336; text-decoration: none; }

#ghlogo { text-align: right; }
.centered { text-align: center; }

h2.path { font-size: 1.5em; font-weight: bold; margin-top: 20px; }

.files { margin-top: 10px; margin-bottom: 10px; background-color: #eee;}
.files table { width: 100%; }
.files tr td { padding: 5px; border-bottom: 1px solid #ddd; }
.files a { color: #117; text-decoration: none; font: 1em Andale Mono, monospace; }
.entry-mode,.entry-sha { font: 0.8em Andale Mono, monospace; }

.logs { background: #eee; margin-top: 10px; }
table.log tr { border-bottom: 1px solid #ccc; }
table.log tr td { padding: 4px; font-size: 13px; }
table.log tr td a { color: #117; text-decoration: none; font: 1em Andale Mono, monospace; }


#refs { margin-top: 25px; }
.refs h2 { border-bottom: 1px solid #aaa;
            background: #eee;
            font-weight: bold;
            padding: 5px 1px;
            margin-top: 10px; }
.refs tr td { padding: 3px; }

.blob { padding: 20px; background: #eee; overflow: auto; }

#info .date { color: #000; }

.last-commit {
    font-size: 0.9em;
    border: 1px solid #88c;
    padding: 5px;
    margin-top: 25px;
    background: #eef;
    vertical-align: center;
}

#ft { margin-top: 25px; text-align: center; border-top: 1px solid #ddd; padding: 10px;}
#ft a { color: #338; }

#welcome { margin: 30px; padding: 10px; }
#welcome h1 { text-align: center; font-size: 1.3em; margin-bottom: 20px; color: #000; }
#welcome p { padding: 10px; color: #555; }
#welcome pre.example { padding: 10px; text-align: center; background-color: #eee; }

