.commit { 
    border: 1px solid #aaa; 
    margin: 3px; 
    padding: 5px;
    font-size: 14px;
    background: #fff;
}

.commit .message { color: #444; padding: 8px; }
.commit .author { font-size: 12px; }